<div class="container">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="">Home</a></li>
  <li class="breadcrumb-item active">{{location}}</li>
</ol>
</div>
<div class="container"> 
	<br>
	<div class="container">
		<div class="bd-example bd-example-tabs">
			<nav class="nav nav-tabs" id="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-upcoming-tab"
					data-toggle="tab" href="#nav-upcoming" role="tab"
					aria-controls="upcoming" aria-expanded="true">Upcoming</a> 
				<a
					class="nav-item nav-link" id="nav-today-tab"
					data-toggle="tab" href="#nav-today" role="tab"
					aria-controls="today" aria-expanded="false">Today</a>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade active show" id="nav-upcoming"
					role="tabpanel" aria-labelledby="nav-upcoming-tab"
					aria-expanded="true">
					<br>
					Upcoming
				</div>			
				<div class="tab-pane fade" id="nav-today" role="tabpanel"
					aria-labelledby="nav-today-tab" aria-expanded="false">
					<br>
					Today
				</div>
			</div>		
		</div>
	</div>
</div>