<div class="container">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="">Home</a></li>
  <li class="breadcrumb-item active">{{location}}</li>
</ol>
</div>
<div class="container"> 
	<br>
	<div class="container">
		<div class="bd-example bd-example-tabs">
			<nav class="nav nav-tabs" id="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-upcoming-tab"
					data-toggle="tab" href="#nav-upcoming" role="tab"
					aria-controls="upcoming" aria-expanded="true">Upcoming</a> 
				<a
					class="nav-item nav-link" id="nav-today-tab"
					data-toggle="tab" href="#nav-today" role="tab"
					aria-controls="today" aria-expanded="false">Today</a>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade active show" id="nav-upcoming"
					role="tabpanel" aria-labelledby="nav-upcoming-tab"
					aria-expanded="true">
					<br>									
					<div *ngFor="let upcomingIPO of upcomingIPOs">
						<div class="row">
							<div class="col-3">
								<b>Symbol: </b>
							</div>
							<div class="col">
								<span class="symbol">{{upcomingIPO.symbol}}</span>
							</div>
						</div>					
						<div class="row">
							<div class="col-3">
								<b>Company Name: </b>
							</div>
							<div class="col">
								{{upcomingIPO.companyName}}
							</div>
						</div>						
						<div class="row">
							<div class="col-3">
								<b>Expected date: </b>
							</div>
							<div class="col">
								{{upcomingIPO.expectedDate}}
							</div>
						</div>						
						<div class="row">
							<div class="col-3">
								<b>Auditor: </b>
							</div>
							<div class="col">
								{{upcomingIPO.auditor}}
							</div>
						</div>					
						<div class="row">
							<div class="col-3">
								<b>Expected date: </b>
							</div>
							<div class="col">
								{{upcomingIPO.expectedDate}}
							</div>
						</div>						
						<div class="row">
							<div class="col-3">
								<b>Market: </b>
							</div>
							<div class="col">
								{{upcomingIPO.market}}
							</div>
						</div>						
						<div class="row">
							<div class="col-3">
								<b>Cik: </b>
							</div>
							<div class="col">
								{{upcomingIPO.cik}}
							</div>
						</div>						
						<div class="row">
							<div class="col-3">
								<b>Address: </b>
							</div>
							<div class="col">
								{{upcomingIPO.address}}
							</div>
						</div>						
						<div class="row">
							<div class="col-3">
								<b>City: </b>
							</div>
							<div class="col">
								{{upcomingIPO.city}}
							</div>
						</div>						
						<div class="row">
							<div class="col-3">
								<b>State: </b>
							</div>
							<div class="col">
								{{upcomingIPO.state}}
							</div>
						</div>						
						<div class="row">
							<div class="col-3">
								<b>Zip: </b>
							</div>
							<div class="col">
								{{upcomingIPO.zip}}
							</div>
						</div>						
						<hr>
					</div>										
				</div>			
				<div class="tab-pane fade" id="nav-today" role="tabpanel"
					aria-labelledby="nav-today-tab" aria-expanded="false">
					<br>
					<div *ngFor="let todaysIPO of todaysIPOs">										
					<div class="row">
						<div class="col-3">
							<b>Symbol: </b>
						</div>
						<div class="col">
							<span class="symbol">{{todaysIPO.symbol}}</span>
						</div>								
					</div>					
					<div class="row">
						<div class="col-3">
							<b>Company Name: </b>
						</div>
						<div class="col">
							{{todaysIPO.companyName}}
						</div>						
					</div>									
					<div class="row">
						<div class="col-3">
							<b>Expected date: </b>
						</div>
						<div class="col">
							{{todaysIPO.expectedDate}}
						</div>
					</div>						
					<div class="row">
							<div class="col-3">
								<b>Auditor: </b>
							</div>
							<div class="col">
								{{todaysIPO.auditor}}
							</div>
						</div>					
						<div class="row">
							<div class="col-3">
								<b>Expected date: </b>
							</div>
							<div class="col">
								{{todaysIPO.expectedDate}}
							</div>
						</div>																
					<div class="row">
							<div class="col-3">
								<b>Market: </b>
							</div>
							<div class="col">
								{{todaysIPO.market}}
							</div>
						</div>						
						<div class="row">
							<div class="col-3">
								<b>Cik: </b>
							</div>
							<div class="col">
								{{todaysIPO.cik}}
							</div>
						</div>						
						<div class="row">
							<div class="col-3">
								<b>Address: </b>
							</div>
							<div class="col">
								{{todaysIPO.address}}
							</div>
						</div>						
						<div class="row">
							<div class="col-3">
								<b>City: </b>
							</div>
							<div class="col">
								{{todaysIPO.city}}
							</div>
						</div>						
						<div class="row">
							<div class="col-3">
								<b>State: </b>
							</div>
							<div class="col">
								{{todaysIPO.state}}
							</div>
						</div>										
						<div class="row">
							<div class="col-3">
								<b>Zip: </b>
							</div>
							<div class="col">
								{{todaysIPO.zip}}
							</div>
						</div>						
						<hr>																					
					</div>		
				</div>
			</div>		
		</div>
	</div>
</div>