<div class="container">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="">Home</a></li>
  <li class="breadcrumb-item active">{{location}}</li>
</ol>
</div>

<div *ngIf="gainers?.length == 0" class="container"> No data available </div> 
<div *ngIf="gainers?.length > 0" class="container"> 
    <table class="table">
  		<thead>
    		<tr>     
      			<th scope="col">Symbol</th>
      			<th scope="col">Company name</th> 
      			<th scope="col">Primary exchange</th> 
      			<th scope="col">Sector</th>     		
    		</tr>
  		</thead>
  		<tbody>
    		<tr *ngFor="let gainer of gainers">
      			<td>{{gainer.symbol}}</td>
      			<td>{{gainer.companyName}}</td> 
      			<td>{{gainer.primaryExchange}}</td> 
      			<td>{{gainer.sector}}</td>    		
    		</tr>
  		</tbody>
	</table>           
</div>