<div class="container">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="">Home</a></li>
		<li class="breadcrumb-item active">{{location}}</li>
	</ol>
</div>
<div class="container" *ngIf="symbolsLoading == true">
<b>Loading data. Please wait...</b>
</div>

<div class="container" *ngIf="symbolsLoading == false">
	<form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()">	
		<div class="form-group">
		<div class="row">
  			<div class="col"><select class="form-control" formControlName="symb">
				<option value="">Please select a Company</option>
				<option *ngFor="let symbol of symbols" [value]="symbol.symbol">{{symbol.name}}
				</option>
			</select>
			</div>
			<div class="col"><button type="submit" class="btn btn-primary">Search</button></div>
		</div>
		</div>
	</form>
</div>

<div class="container" *ngIf="company != null">
	<div class="row">
		<div class="col-10"></div>
	</div>
	<div class="row">
		<div class="col-9">
			<div class="row">
				<div class="col-2">
					<b>Symbol: </b>
				</div>
				<div class="col">{{company?.symbol}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Name: </b>
				</div>
				<div class="col">{{company?.companyName}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Exchange: </b>
				</div>
				<div class="col">{{company?.exchange}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Industry: </b>
				</div>
				<div class="col">{{company?.industry}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Website: </b>
				</div>
				<div class="col">
					<a href="{{company?.website}}" target="_blank">{{company?.website}}</a>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>CEO: </b>
				</div>
				<div class="col">{{company?.CEO}}</div>
			</div>
		</div>
		<div class="col-3">
			<img src="{{logo}}" />
		</div>
	</div>

	<br>
	<div class="container">
		<div class="bd-example bd-example-tabs">
			<nav class="nav nav-tabs" id="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-earnings-tab"
					data-toggle="tab" href="#nav-earnings" role="tab"
					aria-controls="earnings" aria-expanded="true">Earnings</a> <a
					class="nav-item nav-link" id="nav-effective-spread-tab"
					data-toggle="tab" href="#nav-effective-spread" role="tab"
					aria-controls="profile" aria-expanded="false">Effective spread</a>
				<a class="nav-item nav-link" id="nav-financials-tab"
					data-toggle="tab" href="#nav-financials" role="tab"
					aria-controls="financials" aria-expanded="false">Financials</a>
				<a class="nav-item nav-link" id="nav-volume-by-venue-tab"
					data-toggle="tab" href="#nav-volume-by-venue" role="tab"
					aria-controls="volume-by-venue" aria-expanded="false">Volume by venue</a>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade active show" id="nav-earnings"
					role="tabpanel" aria-labelledby="nav-earnings-tab"
					aria-expanded="true">
					<br>
					<table class="table table-hover" *ngFor="let earning of earnings">
						<thead>
							<tr>
								<th>Actual EPS</th>
								<th>Consensus EPS</th>
								<th>Estimated EPS</th>
								<th>Announce Time</th>
								<th>Number Of Estimates</th>
								<th>Estimated EPS</th>
								<th>Fiscal Period</th>
								<th>Fiscal End Date</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{earning.actualEPS}}</td>
								<td>{{earning.consensusEPS}}</td>
								<td>{{earning.estimatedEPS}}</td>
								<td>{{earning.announceTime}}</td>
								<td>{{earning.numberOfEstimates}}</td>
								<td>{{earning.estimatedEPS}}</td>
								<td>{{earning.fiscalPeriod}}</td>
								<td>{{earning.fiscalEndDate}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tab-pane fade" id="nav-effective-spread" role="tabpanel"
					aria-labelledby="nav-effective-spread-tab" aria-expanded="false">
					<br>
					<table class="table table-hover"
						*ngFor="let effectiveSpread of effectiveSpreads">
						<thead>
							<tr>
								<th style="width: 15%">Volume</th>
								<th style="width: 5%">Venue</th>
								<th style="width: 15%">Venue Name</th>
								<th style="width: 25%">Effective Spread</th>
								<th style="width: 15%">Effective Quoted</th>
								<th>Price Improvement</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{effectiveSpread.volume}}</td>
								<td>{{effectiveSpread.venue}}</td>
								<td>{{effectiveSpread.venueName}}</td>
								<td>{{effectiveSpread.effectiveSpread}}</td>
								<td>{{effectiveSpread.effectiveQuoted}}</td>
								<td>{{effectiveSpread.priceImprovement}}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="tab-pane fade" id="nav-financials" role="tabpanel"
					aria-labelledby="nav-financials-tab" aria-expanded="true">
					<br>
					<div *ngFor="let financial of financials">
						<div class="row">
							<div class="col-3">
								<b>Report Date: </b>
							</div>
							<div class="col">
								<b>{{financial.reportDate}}</b>
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Gross Profit: </b>
							</div>
							<div class="col">{{financial.grossProfit}}</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Cost of Revenue: </b>
							</div>
							<div class="col">{{financial.costOfRevenue}}</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Operating Revenue: </b>
							</div>
							<div class="col">{{financial.operatingRevenue}}</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Total Revenue: </b>
							</div>
							<div class="col">{{financial.totalRevenue}}</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Operating Income: </b>
							</div>
							<div class="col">{{financial.operatingIncome}}</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Total Revenue: </b>
							</div>
							<div class="col">{{financial.totalRevenue}}</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Net Income: </b>
							</div>
							<div class="col">{{financial.netIncome}}</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Research And Development: </b>
							</div>
							<div class="col">{{financial.researchAndDevelopment}}</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Operating Expense: </b>
							</div>
							<div class="col">{{financial.operatingExpense}}</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Cash Change: </b>
							</div>
							<div class="col">{{financial.cashChange}}</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Cash Flow: </b>
							</div>
							<div class="col">{{financial.cashFlow}}</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Operating Gains Losses: </b>
							</div>
							<div class="col">{{financial.operatingGainsLosses}}</div>
						</div>
						<hr />
					</div>
				</div>
				
				<div class="tab-pane fade" id="nav-volume-by-venue" role="tabpanel"
					aria-labelledby="nav-volume-by-venue-tab" aria-expanded="true">
					<br>															
					<div *ngFor="let volumeByVenue of volumesByVenue">						
						<div class="row">
							<div class="col-3">
								<b>Volume: </b>
							</div>
							<div class="col">
								{{volumeByVenue.volume}}
							</div>
						</div>																	
						<div class="row">
							<div class="col-3">
								<b>Venue: </b>
							</div>
							<div class="col">
								{{volumeByVenue.venue}}
							</div>
						</div>												
						<div class="row">
							<div class="col-3">
								<b>Venue name: </b>
							</div>
							<div class="col">
								{{volumeByVenue.venueName}}
							</div>
						</div>																								
						<div class="row">
							<div class="col-3">
								<b>Market percent: </b>
							</div>
							<div class="col">
								{{volumeByVenue.marketPercent}}
							</div>
						</div>	
						
						<div class="row">
							<div class="col-3">
								<b>Average Market Percent: </b>
							</div>
							<div class="col">
								{{volumeByVenue.avgMarketPercent}}
							</div>
						</div>							
						<div class="row">
							<div class="col-3">
								<b>Date: </b>
							</div>
							<div class="col">
								{{volumeByVenue.date}}
							</div>
						</div>						
						<hr>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>