<div class="container">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="">Home</a></li>
		<li class="breadcrumb-item"><a href="/{{location}}">Symbols</a></li>
		<li class="breadcrumb-item active">{{id}}</li>
	</ol>
</div>

<div class="container" *ngIf="symbolsLoading == true">
	<b>Loading data. Please wait...</b>
</div>

<div class="container" *ngIf="symbolsLoading == false">
	<form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<div class="row">
				<div class="col">
					<select class="form-control" formControlName="symb">
						<option value="">Please select a Company</option>
						<option *ngFor="let symbol of symbols" [value]="symbol.symbol">{{symbol.name}}
						</option>
					</select>
				</div>
				<div class="col">
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="container" *ngIf="company != null">
	<div class="row">
		<div class="col-10"></div>
	</div>
	<div class="row">
		<div class="col-9">
			<div class="row">
				<div class="col-2">
					<b>Symbol: </b>
				</div>
				<div class="col"><b><a href="symbol-details/{{company?.symbol}}" >{{company?.symbol}}</a></b></div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Name: </b>
				</div>
				<div class="col">{{company?.companyName}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Exchange: </b>
				</div>
				<div class="col">{{company?.exchange}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Industry: </b>
				</div>
				<div class="col">{{company?.industry}}</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>Website: </b>
				</div>
				<div class="col">
					<a href="{{company?.website}}" target="_blank">{{company?.website}}</a>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<b>CEO: </b>
				</div>
				<div class="col">{{company?.CEO}}</div>
			</div>
		</div>
		<div class="col-3">
			<img src="{{logo}}" />
		</div>
	</div>
	<br>
	<div class="container">
		<div class="bd-example bd-example-tabs">
			<nav class="nav nav-tabs" id="nav-tab" role="tablist">																			
				<a class="nav-item nav-link active" id="nav-quote-tab" data-toggle="tab"
					href="#nav-quote" role="tab" aria-controls="quote"
 					aria-expanded="false">Quote</a> 					 				
				<a class="nav-item nav-link" id="nav-stats-tab"
					data-toggle="tab" href="#nav-stats" role="tab"
					aria-controls="profile" aria-expanded="false">Key stats</a>	
				<a class="nav-item nav-link" id="nav-balance-sheet-tab"
					data-toggle="tab" href="#nav-balance-sheet" role="tab"
					aria-controls="profile" aria-expanded="false">Balance sheet</a>	
				<a class="nav-item nav-link" id="nav-cash-flow-tab"
					data-toggle="tab" href="#nav-cash-flow" role="tab"
					aria-controls="profile" aria-expanded="false">Cash flow</a>					
				
			</nav>
			<div class="tab-content" id="nav-tabContent">				
				<div class="tab-pane fade active show" id="nav-quote" role="tabpanel"
					aria-labelledby="nav-quote-tab" aria-expanded="false">
					<br>				
					<div class="row">
						<div class="col-3">
							<b>Symbol: </b>
						</div>
						<div class="col">
							<b><a href="symbol-details/{{quote.symbol}}" >{{quote.symbol}}</a></b>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Company name: </b>
						</div>
						<div class="col">
							{{quote.companyName}}
						</div>
					</div>										
					<div class="row">
						<div class="col-3">
							<b>Calculation Price: </b>
						</div>
						<div class="col">
							{{quote.calculationPrice}}
						</div>
					</div>					
					<div class="row">
						<div class="col-3">
							<b>Open: </b>
						</div>
						<div class="col">
							{{quote.open}}
						</div>
					</div>				
					<div class="row">
						<div class="col-3">
							<b>Open time: </b>
						</div>
						<div class="col">
							{{quote.openTime | date: 'full'}}
						</div>
					</div>				
					<div class="row">
						<div class="col-3">
							<b>Close: </b>
						</div>
						<div class="col">
							{{quote.close}}
						</div>
					</div>				
					<div class="row">
						<div class="col-3">
							<b>Close time: </b>
						</div>
						<div class="col">
							{{quote.closeTime | date: 'full'}}
						</div>
					</div>	
					<div class="row">
						<div class="col-3">
							<b>High: </b>
						</div>
						<div class="col">
							{{quote.high}}
						</div>
					</div>	
					<div class="row">
						<div class="col-3">
							<b>Low: </b>
						</div>
						<div class="col">
							{{quote.low}}
						</div>
					</div>					
					<div class="row">
						<div class="col-3">
							<b>Latest price: </b>
						</div>
						<div class="col">
							{{quote.latestPrice}}
						</div>
					</div>					
					<div class="row">
						<div class="col-3">
							<b>Latest source: </b>
						</div>
						<div class="col">
							{{quote.latestSource}}
						</div>
					</div>										
					<div class="row">
						<div class="col-3">
							<b>Latest time: </b>
						</div>
						<div class="col">
							{{quote.latestUpdate | date: 'full'}}
						</div>
					</div>					
					<div class="row">
						<div class="col-3">
							<b>Latest volume: </b>
						</div>
						<div class="col">
							{{quote.latestVolume}}
						</div>
					</div>						
					<div class="row">
						<div class="col-3">
							<b>IEX RealtimePrice: </b>
						</div>
						<div class="col">
							{{quote.iexRealtimePrice || 'n.a.'}}
						</div>
					</div>					
					<div class="row">
						<div class="col-3">
							<b>IEX RealtimeSize: </b>
						</div>
						<div class="col">
							{{quote.iexRealtimeSize || 'n.a.'}}
						</div>
					</div>	
					<div class="row">
						<div class="col-3">
							<b>IEX Last Updated: </b>
						</div>
						<div class="col">
							{{quote.iexLastUpdated || 'n.a.'}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Delayed Price: </b>
						</div>
						<div class="col">
							{{quote.delayedPrice}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Delayed Price Time: </b>
						</div>
						<div class="col">
							{{quote.delayedPriceTime}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Extended Price: </b>
						</div>
						<div class="col">
							{{quote.extendedPrice}}
						</div>
					</div>					
					<div class="row">
						<div class="col-3">
							<b>Extended Change: </b>
						</div>
						<div class="col">
							{{quote.extendedChange}}
						</div>
					</div>					
					<div class="row">
						<div class="col-3">
							<b>Extended Change Percent: </b>
						</div>
						<div class="col">
							{{quote.extendedChangePercent}}
						</div>
					</div>					
					<div class="row">
						<div class="col-3">
							<b>Extended Price Time: </b>
						</div>
						<div class="col">
							{{quote.extendedPriceTime}}
						</div>
					</div>					
					<div class="row">
						<div class="col-3">
							<b>Previous close: </b>
						</div>
						<div class="col">
							{{quote.previousClose}}
						</div>
					</div>					
					<div class="row">
						<div class="col-3">
							<b>Change: </b>
						</div>
						<div class="col">
							{{quote.change}}
						</div>
					</div>					
					<div class="row">
						<div class="col-3">
							<b>Change: </b>
						</div>
						<div class="col">
							{{quote.change}}
						</div>
					</div>				
					<div class="row">
						<div class="col-3">
							<b>Change Percent: </b>
						</div>
						<div class="col">
							{{quote.changePercent}}
						</div>
					</div>							
					<div class="row">
						<div class="col-3">
							<b>IEX Market Percent: </b>
						</div>
						<div class="col">
							{{quote.iexMarketPercent || 'n.a.'}}
						</div>
					</div>									
					<div class="row">
						<div class="col-3">
							<b>IEX Volume: </b>
						</div>
						<div class="col">
							{{quote.iexVolume || 'n.a.'}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>AVG Total Volume: </b>
						</div>
						<div class="col">
							{{quote.avgTotalVolume}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>IEX Bid Price: </b>
						</div>
						<div class="col">
							{{quote.iexBidPrice || 'n.a.'}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>IEX Bid Size: </b>
						</div>
						<div class="col">
							{{quote.iexBidSize || 'n.a.'}}
						</div>
					</div>					
					<div class="row">
						<div class="col-3">
							<b>IEX Ask Size: </b>
						</div>
						<div class="col">
							{{quote.iexAskSize || 'n.a.'}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Market Cap: </b>
						</div>
						<div class="col">
							{{quote.marketCap || 'n.a.'}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>PE Ratio: </b>
						</div>
						<div class="col">
							{{quote.peRatio}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Week 52 High: </b>
						</div>
						<div class="col">
							{{quote.week52High}}
						</div>
					</div>				
					<div class="row">
						<div class="col-3">
							<b>Week 52 Low: </b>
						</div>
						<div class="col">
							{{quote.week52Low}}
						</div>
					</div>				
					<div class="row">
						<div class="col-3">
							<b>YTD Change: </b>
						</div>
						<div class="col">
							{{quote.ytdChange}}
						</div>
					</div>			
				<br>	
				</div>
				<div class="tab-pane fade" id="nav-stats" role="tabpanel"
					aria-labelledby="nav-advstats-tab" aria-expanded="false">					
					<br>				
					<div class="row">
						<div class="col-3">
							<b>Marketcap: </b>
						</div>
						<div class="col">
							{{stat.marketcap}}
						</div>
					</div>								
					<div class="row">
						<div class="col-3">
							<b>Week 52 high: </b>
						</div>
						<div class="col">
							{{stat.week52high}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Week 52 low: </b>
						</div>
						<div class="col">
							{{stat.week52low}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Week 52 change: </b>
						</div>
						<div class="col">
							{{stat.week52change}}
						</div>
					</div>				
					<div class="row">
						<div class="col-3">
							<b>Shares Outstanding: </b>
						</div>
						<div class="col">
							{{stat.sharesOutstanding}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Float: </b>
						</div>
						<div class="col">
							{{stat.float}}
						</div>
					</div>									
					<div class="row">
						<div class="col-3">
							<b>Avg 10 Volume: </b>
						</div>
						<div class="col">
							{{stat.avg10Volume}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Avg 30 Volume: </b>
						</div>
						<div class="col">
							{{stat.avg30Volume}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Day 200 Moving Avg: </b>
						</div>
						<div class="col">
							{{stat.day200MovingAvg}}
						</div>
					</div>															
					<div class="row">
						<div class="col-3">
							<b>Day 50 Moving Avg: </b>
						</div>
						<div class="col">
							{{stat.day50MovingAvg}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Employees: </b>
						</div>
						<div class="col">
							{{stat.employees}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>TTM EPS: </b>
						</div>
						<div class="col">
							{{stat.ttmEPS}}
						</div>
					</div>										
					<div class="row">
						<div class="col-3">
							<b>TTM Dividend Rate: </b>
						</div>
						<div class="col">
							{{stat.ttmDividendRate}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Dividend Yield: </b>
						</div>
						<div class="col">
							{{stat.dividendYield}}
						</div>
					</div>					
					<div class="row">
						<div class="col-3">
							<b>Next Dividend Date: </b>
						</div>
						<div class="col">
							{{stat.nextDividendDate || 'n.a.'}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Ex Dividend Date: </b>
						</div>
						<div class="col">
							{{stat.exDividendDate}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Next Earnings Date: </b>
						</div>
						<div class="col">
							{{stat.nextEarningsDate}}
						</div>
					</div>				
					<div class="row">
						<div class="col-3">
							<b>PE Ratio: </b>
						</div>
						<div class="col">
							{{stat.peRatio}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Beta: </b>
						</div>
						<div class="col">
							{{stat.beta}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Max Change Percent: </b>
						</div>
						<div class="col">
							{{stat.maxChangePercent}}
						</div>
					</div>														
					<div class="row">
						<div class="col-3">
							<b>Year 5 Change Percent: </b>
						</div>
						<div class="col">
							{{stat.year5ChangePercent}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Year 2 Change Percent: </b>
						</div>
						<div class="col">
							{{stat.year2ChangePercent}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Year 1 Change Percent: </b>
						</div>
						<div class="col">
							{{stat.year1ChangePercent}}
						</div>
					</div>									
					<div class="row">
						<div class="col-3">
							<b>YTD Change Percent: </b>
						</div>
						<div class="col">
							{{stat.ytdChangePercent}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Month 6 Change Percent: </b>
						</div>
						<div class="col">
							{{stat.month6ChangePercent}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Month 3 Change Percent: </b>
						</div>
						<div class="col">
							{{stat.month3ChangePercent}}
						</div>
					</div>										
					<div class="row">
						<div class="col-3">
							<b>Month 1 Change Percent: </b>
						</div>
						<div class="col">
							{{stat.month1ChangePercent}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Day 30 Change Percent: </b>
						</div>
						<div class="col">
							{{stat.day30ChangePercent}}
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<b>Day 5 Change Percent: </b>
						</div>
						<div class="col">
							{{stat.day5ChangePercent}}
						</div>
					</div>																				
				<br>	
				</div>
				<div class="tab-pane fade" id="nav-balance-sheet" role="tabpanel"
					aria-labelledby="nav-balance-sheet-tab" aria-expanded="false">					
					<br>				
					<div *ngFor="let bs of balanceSheet">					
						<div class="row">
							<div class="col-3">
								<b>Report Date: </b>
							</div>
							<div class="col">
								{{bs.reportDate}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Current Cash: </b>
							</div>
							<div class="col">
								{{bs.currentCash}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Short Term Investments: </b>
							</div>
							<div class="col">
								{{bs.shortTermInvestments || 'n.a.'}}
							</div>
						</div>																		
						<div class="row">
							<div class="col-3">
								<b>Receivables: </b>
							</div>
							<div class="col">
								{{bs.receivables}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Inventory: </b>
							</div>
							<div class="col">
								{{bs.inventory}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Other current Assets: </b>
							</div>
							<div class="col">
								{{bs.otherCurrentAssets}}
							</div>
						</div>						
						<div class="row">
							<div class="col-3">
								<b>Current Assets: </b>
							</div>
							<div class="col">
								{{bs.currentAssets}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Long term Investments: </b>
							</div>
							<div class="col">
								{{bs.longTermInvestments}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Property plant equipment: </b>
							</div>
							<div class="col">
								{{bs.propertyPlantEquipment}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Goodwill: </b>
							</div>
							<div class="col">
								{{bs.goodwill}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Intangible Assets: </b>
							</div>
							<div class="col">
								{{bs.intangibleAssets || 'n.a.' }}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Other Assets: </b>
							</div>
							<div class="col">
								{{bs.otherAssets}}
							</div>
						</div>																		
						<div class="row">
							<div class="col-3">
								<b>Total Assets: </b>
							</div>
							<div class="col">
								{{bs.totalAssets}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Accounts Payable: </b>
							</div>
							<div class="col">
								{{bs.accountsPayable}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Current long term debt: </b>
							</div>
							<div class="col">
								{{bs.currentLongTermDebt || 'n.a.'}}
							</div>
						</div>			
						<div class="row">
							<div class="col-3">
								<b>Other current liabilities: </b>
							</div>
							<div class="col">
								{{bs.otherCurrentLiabilities}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Total current liabilities: </b>
							</div>
							<div class="col">
								{{bs.totalCurrentLiabilities}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Long term debt: </b>
							</div>
							<div class="col">
								{{bs.longTermDebt}}
							</div>
						</div>										
						<div class="row">
							<div class="col-3">
								<b>Other Liabilities: </b>
							</div>
							<div class="col">
								{{bs.otherLiabilities}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Minority Interest: </b>
							</div>
							<div class="col">
								{{bs.minorityInterest}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Total Liabilities: </b>
							</div>
							<div class="col">
								{{bs.totalLiabilities}}
							</div>
						</div>				
						<div class="row">
							<div class="col-3">
								<b>Common Stock: </b>
							</div>
							<div class="col">
								{{bs.commonStock}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Retained Earnings: </b>
							</div>
							<div class="col">
								{{bs.retainedEarnings}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Treasury Stock: </b>
							</div>
							<div class="col">
								{{bs.treasuryStock || 'n.a.'}}
							</div>
						</div>												
						<div class="row">
							<div class="col-3">
								<b>Capital Surplus: </b>
							</div>
							<div class="col">
								{{bs.capitalSurplus || 'n.a.'}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Shareholder Equity: </b>
							</div>
							<div class="col">
								{{bs.shareholderEquity || 'n.a.'}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Net tangible Assets: </b>
							</div>
							<div class="col">
								{{bs.netTangibleAssets || 'n.a.'}}
							</div>
						</div>			
					<hr>
				</div>				
		</div>
		<div class="tab-pane fade" id="nav-cash-flow" role="tabpanel"
					aria-labelledby="nav-cash-flow-tab" aria-expanded="false">					
					<br>						
					<div *ngFor="let cf of cashFlow">					
						<div class="row">
							<div class="col-3">
								<b>Report Date: </b>
							</div>
							<div class="col">
								{{cf.reportDate || 'n.a.'}}
							</div>
						</div>											
						<div class="row">
							<div class="col-3">
								<b>Net Income: </b>
							</div>
							<div class="col">
								{{cf.netIncome || 'n.a.'}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Depreciation: </b>
							</div>
							<div class="col">
								{{cf.depreciation || 'n.a.'}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Changes in Receivables: </b>
							</div>
							<div class="col">
								{{cf.changesInReceivables}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Changes in Inventories: </b>
							</div>
							<div class="col">
								{{cf.changesInInventories}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Cash change: </b>
							</div>
							<div class="col">
								{{cf.cashChange}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Cash flow: </b>
							</div>
							<div class="col">
								{{cf.cashFlow}}
							</div>
						</div>					
						<div class="row">
							<div class="col-3">
								<b>Capital expenditures: </b>
							</div>
							<div class="col">
								{{cf.capitalExpenditures}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Investments: </b>
							</div>
							<div class="col">
								{{cf.investments}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Investing activity Other: </b>
							</div>
							<div class="col">
								{{cf.investingActivityOther}}
							</div>
						</div>					
						<div class="row">
							<div class="col-3">
								<b>Total investing cash flows: </b>
							</div>
							<div class="col">
								{{cf.totalInvestingCashFlows}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Dividends paid: </b>
							</div>
							<div class="col">
								{{cf.dividendsPaid}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Net borrowings: </b>
							</div>
							<div class="col">
								{{cf.netBorrowings || 'n.a.'}}
							</div>
						</div>			
						<div class="row">
							<div class="col-3">
								<b>Other financing cash flows: </b>
							</div>
							<div class="col">
								{{cf.otherFinancingCashFlows || 'n.a.'}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Cash flow Financing: </b>
							</div>
							<div class="col">
								{{cf.cashFlowFinancing}}
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<b>Exchange rate effect: </b>
							</div>
							<div class="col">
								{{cf.exchangeRateEffect}}
						</div>
							
		</div>
	</div>
</div>